body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  .xyz{
    font-size: 28px;
    color: rgb(222, 214, 220);
    background-color: antiquewhite;
    height: 100%;
    background-image: url(VacSem3/4k-aesthetic-anime-shooting-stars-in-sky-zbhxo2gzkjhska8h.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    
  }
  ul{
    list-style:armenian;
    border: 5px solid red;
    padding: 20px;    
  }
